{
  "env": {
    "es2022": true,
    "node": true
  },
  "extends": [
    "standard-with-typescript",
    "plugin:jest/recommended",
    "prettier"
  ],
  "overrides": [],
  "parserOptions": {
    "project": "tsconfig.json",
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "plugins": [
    "jest"
  ],
  "rules": {}
}